{% extends "base.html" %}
{% load rules %}

{% block head_title %}{% block body_title %}
{{ character }}
{% endblock %}{% endblock %}

{% block content %}

<ul>
    <li>Level {{ controller.xp_level }} ({{ controller.xp }} XP)</li>
    <li>LP: {{ controller.lp.value }}</li>
    <li>CP: {{ controller.cp.value }}</li>
</ul>

{% for group in feature_groups %}
    <div class="card">
        <h2 class="card-title">{{ group.name }}</h2>
        <ul class="list-group list-group-flush">
            {% for f in group.taken %}
                <li class="list-group-item">
                    {{ f }}
                    {% if f.subfeatures %}
                    <ul>
                        {% for sf in f.subfeatures %}
                        <li>
                            {{ sf }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
    </div>

    {% if group.available %}
    <div class="card">
        <div class="card-header">
            <a class="btn" role="button" data-bs-toggle="collapse" data-bs-target="#collapse_available_{{group.type}}" aria-expanded="false" aria-controls="collapse_available_{{group.type}}">
                New {{ group.name }}
            </a>
        </div>

        <ul class="list-group list-group-flush collapse" id="collapse_available_{{group.type}}">
        {% for f in group.available %}
            <li class="list-group-item">
                {{ f }}
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endfor %}

{% endblock %}
