{% extends "base.html" %}
{% load rules %}
{% load markdown %}
{% load game %}
{% block head_title %}{% block body_title %}
{{ event }}
{% endblock %}{% endblock %}

{% block content %}
{% if event.description %}
{{ event.description | markdown }}
{% else %}
<p>{{event.campaign}} {{event.chapter}} event for {{event.logistics_year}}-{{event.logistics_month}}.</p>
{% endif %}

<ul>
  <li><b>Campaign:</b> {{event.campaign}} ({{event.logistics_year}}-{{event.logistics_month}})</li>
  <li><b>Chapter:</b> {{event.chapter}}</li>
  <li><b>Event Dates:</b> {{event.event_start_date}}-{{event.event_end_date}} ({{event.logistics_periods}} Long Rests)</li>
  {% if event.registration_open %}
  <li><b>Registration Open:</b> {{ event.registration_open|chapterzone:event.chapter }}</li>
  {% endif %}
  {% if event.registration_deadline %}
  <li><b>Registration Deadline:</b> {{ event.registration_deadline|chapterzone:event.chapter }}</li>
  {% endif %}
</ul>
{% endblock content %}
